# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
ecosystem.config.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/migrations

# database
*.db
*.db-journal

# python
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# build artifacts
.next/cache/**/*.old

# GIF generation intermediate files
data/archive/data_deals-neurips_camera_ready-latex/gif_frames/
data/archive/data_deals-neurips_camera_ready-latex/gif_frames_*/

# Generated GIF files
*.gif
